*::after,
::before {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', serif;
   font-style: normal;
}
main {
   height: 100vh;
}
.middle {
   display: flex;
   justify-content: space-between;
   height: 100%;
   .left-column {
      display: flex;
      flex-direction: column;
      margin: auto;
      p {
         color: grey;

         font-weight: 500;
         margin-top: 0.5rem;
         font-size: 18px;
      }
      img {
         height: 50px;
         width: 50px;
         margin-bottom: 1rem;
      }
   }
   .right-column {
      width: 50%;
      background-color: #efefef;
      display: flex;

      img {
         position: relative;
         margin-left: auto;
         margin-right: auto;
         width: auto;
         border-radius: 30px;
         height: 685px;
         margin: auto;
      }
   }
}
.container {
   height: 100%;
   width: 100%;
}
