*::after,
::before {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', serif;
   font-style: normal;
}
main {
   height: 100vh;
}
.middle {
   display: flex;
   justify-content: space-between;
   height: 825px;
   .left-column {
      width: 20%;
      margin: auto auto;

      h1 {
         font-size: 45px;
      }
      p {
         color: grey;
         font-size: 18px;
         font-weight: 700;
         margin-top: 1rem;
      }
      img {
         height: 85px;
         width: auto;
      }
   }
   .right-column {
      width: 50%;
      background-color: #efefef;
      display: flex;

      img {
         height: 750px;
         margin-left: auto;
         margin-top: 2rem;
         width: auto;
      }
   }
}
.container {
   height: 100%;
   width: 100%;
}
